@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
}

.ant-input::placeholder {
    color: #d1d4d8 !important;
}

.ant-select-selection-placeholder {
    color: #d1d4d8 !important;
}

.ant-picker-input>input::placeholder {
    color: #d1d4d8 !important;
}